# devpi pypi server
devpi:
  image: muccg/devpi:latest
  hostname: devpi
  ports:
    - "3141:3141"
  volumes:
    - cachedata/devpi:/data

# squid-deb-proxy
squid:
  image: muccg/squid-deb-proxy:latest
  hostname: squid
  ports:
    - "3128:8000"
  volumes:
    - cachedata/squid:/data
